@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif; /*fonte padrão*/
    font-style: normal;
    font-optical-sizing: auto;
    background-color: #1c1c1c; /*cor de fundo padrão*/
    color: #ededed; /*cor da fonte padrão*/
}

.container {
    margin: 0 auto; /*centraliza o container*/
    max-width: 1140px; /*limita a largura máxima*/
}